html {
    height: 100%;
    background-color: #494D5F;
    font-family: Arial, Helvetica, sans-serif;
    /* The below will force any content inside the border box */
    box-sizing: border-box;
}

body {
    line-height: 1rem;
}

footer {
    text-align: center;
    background-color: #A0D2EB;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    color: white;
    padding: 1rem;
    margin-top: auto;
    font-weight: bold;
}

main {
    padding: 4rem 3rem;
}

/* classes */

.black-white-section {
    background: #333;
    color: white;
    padding: 2rem;
    margin: 2rem;
}

a.fwhite{
    color: white;
}

.floating-menu {
    font-family: sans-serif;
    background: #333;
    position: fixed;
    overflow: auto;
  }

  .main-nav {
      list-style: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: #845BB3;
      margin-top: auto;
      padding: 1.5rem;
      text-align: left;
      /* Below to create floating menu */
      position: fixed;
      overflow: auto;
      width: 100%;
  }

  .main-nav__item {
      display: inline-block;
  }

  .main-nav__item a {
      color: #e5eaf5;
      text-decoration: none;
      padding: .25rem;
      text-align: left;
      border: .1rem solid transparent;
  }

  .main-nav__item a:hover {
        border-bottom: .2rem solid #D0BDF4;
  }

  .container {
      display: grid;
      grid-template-columns: 1fr, 2fr;
      grid-template-rows: 1fr;
      gap: 1.5rem;
      grid-template-areas: "item1 item2 item2";
      /* grid-template-rows: auto; */
  }

  .item11 {
      grid-area: item1;
      text-align: justify;
  }

  .item22 {
      grid-area: item2;
  }

  .made-with {
    text-align: left;
    font-family: monospace;
}
