html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    margin: 0;
    line-height: 1.6;
    padding: 3rem;
}

header {
    background: #333;
    color: white;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 3rem;
    margin-top: auto;
    font-weight: bold;
}

a.fwhite{
    color: white;
}

.floating-menu {
    font-family: sans-serif;
    background: #333;
    position: fixed;
  }
