html {
    height: 100%;
    background-color: #494D5F;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    /* The below took me like 1 hour, this removes the annoying white border around all the html document */
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
       
}

footer {
    text-align: center;
    background-color: #A0D2EB;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    color: white;
    padding: 3rem;
    margin-top: auto;
    font-weight: bold;
}

main {
    padding: 3rem;
}

/* classes */

.black-white-section {
    background: #333;
    color: white;
}

a.fwhite{
    color: white;
}

.floating-menu {
    font-family: sans-serif;
    background: #333;
    position: fixed;
    overflow: auto;
  }

  .main-nav {
      list-style: none;
      background-color: #845BB3;
      margin-top: auto;
      padding: 1rem;
      text-align: left;
      /* Below to create floating menu */
      position: fixed;
      overflow: auto;
      width: 100%;
  }

  .main-nav__item {
      display: inline-block;
  }

  .main-nav__item a {
      color: #e5eaf5;
      text-decoration: none;
      padding: 3px;
      text-align: left;
      border: 1px solid transparent;
  }

  .main-nav__item a:hover {
        border-radius: 4px;
        border: 3px solid #D0BDF4;
  }