html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    margin: 0;
    line-height: 1.6;
    padding: 3rem;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 3rem;
    margin-top: auto;
}