html {
    font-family: Arial, Helvetica, sans-serif;
    /* The below will force any content inside the border box */
    box-sizing: border-box;
}

body {
    background-color: #007CC7;
    color: #EEFBFB;
}

header {
    font-family: monospace;
    font-size: 1.4rem;
}

footer {
    text-align: center;
    background-color: #A0D2EB;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    color: white;
    padding: 1rem;
    margin-top: auto;
    font-weight: bold;
    font-family: monospace;
}

main {
    padding: 4rem 3rem;
    /* margin-top: 4rem; */
}

/* classes */

.black-white-section {
    background: #333;
    color: white;
    padding: 2rem;
}

a.fwhite{
    color: white;
}

  .main-nav {
      list-style: none;
      background-color: #12232E;
      margin-top: auto;
      padding: 1.5rem;
      text-align: left;
      /* Below to create floating menu */
      /* position: fixed;
      overflow: auto;
      width: 100%; */
  }

.container-box-white {
      display: grid;
      grid-template-columns: 1fr, 3fr;
      grid-template-rows: 1fr;
      gap: 1rem;
      grid-template-areas: "item1 item2 item2 item2 ";
      /* background-color: #EEFBFB; */
      color: #12232E;
      padding: 1rem;
      /* grid-template-rows: auto; */
}

.item11 {
    grid-area: item1;
    text-align: justify;
    background-color: #EEFBFB;
    padding: 1.5rem;
}

.item22 {
    grid-area: item2;
}

.img-gradient {
    max-width: 100%;
    max-height: 100%;
    background: linear-gradient(0deg, #00000088 40%, black 100%);
}

.img-module {
    background: linear-gradient(to bottom, #00000088 30%, #ffffff44 100%);

}

.gradient-text {
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    /* Fallbacks for diff browsers */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

}

.button {
    background-color: transparent;
    border: none;
    padding: 1rem;
    text-align: center;
    transition: 0.4s;
    display: inline-block;
}

.button a {
    text-decoration: none;
    color: #EEFBFB;
}

.button:hover {
    background-color: #203647;
}