html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    /* The below took me like 1 hour, this removes the annoying white border around all the html document */
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
       
}

header {
    background: #333;
    color: white;
}

footer {
    text-align: center;
    background: black;
    color: white;
    padding: 3rem;
    margin-top: auto;
    font-weight: bold;
}

main {
    padding: 3rem;
}

/* classes */

a.fwhite{
    color: white;
}

.floating-menu {
    font-family: sans-serif;
    background: #333;
    position: fixed;
    overflow: auto;
  }

.header-menu {
    height: 50px;
    width: 100%;
    background-color: black;
    padding: 0rem;
    text-align: center;
    /* Below creates a floating menu */
    position: fixed;
    overflow: auto;
  }