@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

li, a, button, header, footer {
    font-family: "Montserrat", sans-serif;
    font-family: 500;
    font-size: 1rem;
    color: #edf0f1;
    text-decoration: none;
}

header, footer {
    display: flex;
    background-color: #24252A;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
}

/* Clases */

.provisional_logo {
    animation: glow 1s ease-in-out infinite alternate;
    cursor: pointer;
}

/* @-webkit-keyframes provisional_logo {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
} */


@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #800080, 0 0 40px #800080, 0 0 50px #800080, 0 0 60px #800080, 0 0 70px #800080;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0 80px #ff00ff;
    }
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 1.4rem;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    display: flex;  
    padding: 0.6rem 1.4rem;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.75);
}
