@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    /* The below will force any content inside the border box */
    box-sizing: border-box;
}

body {
    background-color:   #007CC7;
    color: #EEFBFB;
}

header, footer {
    font-family: monospace;
    font-size: 1.4rem;
    padding: 1.6rem;
    text-align: center;
    background-color: #12232E;
}

main {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 4rem 3rem;
    /* margin-top: 4rem; */
}

/* classes */

.black-white-section {
    background: #333;
    color: white;
    padding: 2rem;
}

a.fwhite{
    color: white;
}

  .main-nav {
      text-align: left;
  }

.container-box-white {
      display: grid;
      grid-template-columns: 1fr, 3fr;
      grid-template-rows: 1fr;
      gap: 1rem;
      grid-template-areas: "item1 item2 item2 item2 ";
      /* background-color: #EEFBFB; */
      color: #12232E;
      padding: 1rem;
      /* grid-template-rows: auto; */
}

.item11 {
    grid-area: item1;
    text-align: justify;
    background-color: #EEFBFB;
    padding: 1.5rem;
}

.item22 {
    grid-area: item2;
}

.img-gradient {
    max-width: 100%;
    max-height: 100%;
    background: linear-gradient(0deg, #00000088 40%, black 100%);
}

.img-module {
    background: linear-gradient(to bottom, #00000088 30%, #ffffff44 100%);

}

.gradient-text {
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    /* Fallbacks for diff browsers */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.button {
    background-color: transparent;
    border: none;
    padding: 1rem;
    text-align: center;
    transition: 0.4s;
    display: inline-block;
}

.button a {
    text-decoration: none;
    color: #EEFBFB;
}

.button:hover {
    background-color: #203647;
}

.fa {
    padding: 1.25rem;
    text-align: center;
    text-decoration: none;
}

.fa-twitter, .fa-facebook, .fa-youtube {
    color: white;
}

.fa:hover {
    background-color: #12232E;
}